@import '../utils/veriables';

header {
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  display: flex;
  box-shadow: 0 2px 4px #0000000d;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 419px;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

li {
  margin-right: 20px;
}

.nav__link {
  text-transform: uppercase;
  color: #060b35;
  font-size: 12px;
  line-height: 60px;
  text-decoration: none;
  display: block;
  transition: transform $tramsform-time;

  &:hover {
    color: $active-color;
  }
}

li:last-child {
  margin-right: 0;
}

.is-active {
  color: $active-color;
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: $active-color;
  border-radius: 8px;
}

@media (max-width: 1024px) {
  .logo {
    margin-right: 243px;
  }
}
