@import './blocks/nav';
@import './blocks/product-card';
@import './blocks/stars';

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
